<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
    </style>
</head>

<body>




<div id="dropzone"><form action="/upload" class="dropzone needsclick dz-clickable" id="upload">

    <div class="dz-message needsclick">
        <button type="button" class="dz-button">拖入文件或者直接点击</button><br>
<!--        <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>-->
    </div>

</form></div>



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.js"></script>
<script>
    Dropzone.options.upload = {
        maxFilesize: 100000,// MB
        timeout: 1000000
    };

</script>

</html>